{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Mid-morning safari{% endblock %}</title>
</head>
<body>
<header>
    <h1>{% block header %} Welcome to Safari lab{% endblock %}</h1>

<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
    </ul>
</nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2024 Safarilab</p>
</footer>

</body>
</html>